    /* 선택자(=Selector)
        0) 전체 선택자(=공용 선택자) : *
        1) 태그 선택자 : h1, p, body, ...
        2) 클래스 선택자 : .이름
        3) 아이디 선택자 : #이름
        4) 그룹 선택자 : 선택자1, 선택자2, ... (콤마)
    */

    * { /* 0) 전체 선택자 */
        margin: 0; /* 여백 : 없음 */
    }

    #top-icon { /*아이디 선택자 */
    
    }

    .top-icon { /* 클래스 선택자 */
        width: 50px; /* 가로넓이 설정 , 세로높이는 알아서 이미지 비율대로 조절 */
    }

    h1 { /* 태그 선택자 */
    
    }

    p {
        color: gray;
    }


    html {
        scroll-behavior: smooth; /*스크롤처리 부드럽게 */
    }

    body {
        margin: 0;
        text-align: center; /* 텍스트-정렬 : 가로 가운데 */
    }


    #moto {
        width: 1100px;
        height: 180px;
        line-height: 100px;
        font-size: 50px;
        background-image: url("../images/ribbon-green.png");
        color: rgb(41, 58, 57);
        margin: 0 auto; /* (바깥)여백 : 상하0, 좌우 알아서 계산. width 값 필수로 넣어야함 */
    }

   

    /*
    #moto {
        color: rgb(1, 97, 97);
        font-size: 30px;
        background-color: rgb(202, 233, 157);
        padding: 2rem 0;
    }


    #moto::first-letter {
        background-color: rgb(1, 48, 23);
        font-size: 2.50rem;
        color: beige;
        padding: .25rem;
        margin: .25rem;
    }
    */

    .profile {
        width: 200px;
        margin: 3rem 0; /* (바깥)여백 : 상하 기본값2배수, 좌우 0 */
    }

    .cover {
        background-image: url("https://picsum.photos/id/10/1920/200");
        background-position: center; /* 사진의 위치를 cover의 중앙에 배치 */
        background-size: cover; /* 사진이 너무 크거나 작아도 공간에 맞춤 */
        height: 200px;
        line-height: 200px;
        color: white;
    }

    .d-none {
        display: none;
    }

    h2,h3,h4,h5,h6,p { /* h1부터 p까지를 스타일 적용하겠다. 4) 그룹 선택자 */
        margin: 2rem 0; /* web 전용 단위. [1rem(상대단위. 알엠) = 16px(절대단위. 픽셀)] */
    }

    @media screen and (max-width : 480px) { /* 미디어의 가로 크기가 480일 떄 */
        #moto {
            width: 81%;
            background-size: contain;
            background-repeat: no-repeat;
            height: 80px;
            line-height: 57px;
            font-size: 0.925rem;
        }
    }